a{
    color:#fff;
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    height: 60px;
    max-width: 1440px;
    justify-content: center;
}
.header__left{
    display: flex;
    align-items: center; 
    width: 600px;
    font-size: 32px;
}
.left__block{
    display: flex;
    width: 240px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}
.menu__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    height: 60px;
}
.menu__items{
    font-size: 23px;
}
.header__right{
    display:flex;
    width: 600px;
    justify-content: flex-end;
}
.sign__in{
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border-color: coral;
    background-color: Transparent;
    font-size: 23px;
}
.header__logo{
    width: 68.2px;
    height: 58.43px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rectangle{
    display: block;
    width: 100%;
    height: 720px;
    max-width: 1440px;
    width: 1200px;
    width: 1440px;
    justify-content: center;
}
.survival__block{
    display: flex;
    align-items: flex-end;
    height: 460px;
    width: 395px;
    justify-content: flex-end;
}
.survival{
    width: 275px;
    height: 340px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.survival__heading{
    font-size: 28px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 2px;
    text-align: left;
    color: coral;
}
.survival__text{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: white;
    width: 240px;
    height: 108px;
}
.survival__donate{
    width: 160px;
    height: 60px;
    background-color:#CD6326;
    display: flex;
    justify-content:center;
    align-items:center;
    color:white;
    border-radius: 7px;
}
.donate{
    font-size: 23px;
    line-height: 27px;
}
.menu__items:hover{
    transform: translateY(-5px);
    transition-duration: 400ms;
}
.sign__in:hover{
    transform: translateY(-5px);
    transition-duration: 400ms;
}
.logo__text:hover{
    transform: translateY(-5px);
    transition-duration: 400ms;
}
.survival__donate:hover{
    transform: scaleY(1.2);
    transform: scale(1.2);
    transition-duration: 3000ms;
}
.articles__block{
    width: 1440px;
    height: 1368px;
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
}
.articles__heading{
    height: 350px;
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main__text{
    font-size: 48px;
    line-height: 72px;
    width: 1440px;
    height: 72px;
    color: #333333;
    text-align: center;
    display: flex;
    justify-content: center;
}
.secondary__text{
    font-size: 24px;
    line-height: 36px;
    height:36px;
    width: 1440px;
    color: #666666;
    text-align: center;
}
.articles__central{
    height: 480px;
    width: 1440px;
    display: flex;
    justify-content: center;
    background-color: #CCCCCC;
    align-items: center;
}
.articles__central2{
    height:360px;
    width:1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deer{
    width: 300px;
    height: 360px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.deer__all__text{
    height: 115px;
    width: 300px;
    color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.deer__heading{
    width: 52px;
    height: 36px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}
.deer__text{
    width: 186px;
    height: 27px;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}
.squirrel{
    width: 300px;
    height: 360px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.squirrel__all__text{
    height: 115px;
    width: 300px;
    color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.squirrel__heading{
    width: 82px;
    height: 36px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}
.squirrel__text{
    width: 152px;
    height: 27px;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}
.bird{
    width: 300px;
    height: 360px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.bird__all__text{
    height: 115px;
    width: 300px;
    color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.bird__heading{
    width: 43px;
    height: 36px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}
.bird__text{
    width: 125px;
    height: 27px;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}
.search__bar{
    height: 640px;
    width: 1440px;
    background-color:#CCCCCC;
}
.search__bar2{
    height: 280px;
    width: 1440px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.email__text{
    width: 526px;
    height: 40px;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
}
.input__string{
    height:60px;
    width: 660px;
    display: flex;
    justify-content: center;
}
input[type="bar"]{
    height: 60px;
    width: 540px;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #666666;
    background: #CCCCCC;
}
.search__button{
    height: 60px;
    width: 120px;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F7F7F7;
    background-color:#CD6326;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
}
.footer{
    display: flex;
    width: 1440px;
    height: 360px;
}
.footer__left{
    width: 480px;
    height:360px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.footer__left2{
    width:225px;
    height: 60px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo__text{
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F7F7F7;
}
.footer__central{
    width:480px;
    height:360px;
}
.footer__list{
    height:360px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.footer__items{
    font-size: 29px;
    line-height: 60px;
    color: #F7F7F7;
}
.footer__right{
    width:480px;
    height:360px;
    display:flex;
    justify-content:center;
}
.footer__links{
    width:270px;
    height:360px;
}
.social__network{
    height:360px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.footer__items:hover{
    transform: translateY(-5px);
    transition-duration: 400ms;
}
.facebook:hover{
    transform: rotate(360deg);
    transition-duration: 400ms;
}
.instagram:hover{
    transform: rotate(360deg);
    transition-duration: 400ms;
}
.patreon:hover{
    transform: rotate(360deg);
    transition-duration: 400ms;
}
.telegram:hover{
    transform: rotate(360deg);
    transition-duration: 400ms;
}